body {
    margin: 0px;
    background-color: #FAFBFE;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.05);
}

.header .header-left-active {
    height: 60px;
    width: 260px;
    float: left;
    display: flex;
    border-right: 1px solid #E8EBED;
    justify-content: space-between;
}

.header-left-active img {
    height: 60px;
    cursor: pointer;
}

.header-left-active button {
    align-items: center;
    background-color: white;
    border: 0;
    height: 50px;
    padding-top: 15px;
    padding-right: 15px;
}

.header-left-active button i {
    font-size: 20px;
    cursor: pointer;
}

.header .header-left-reduced {
    display: none;
}

.header .header-center button{
    display: none;
    height: 60px;
    background-color:white;
    border: 0;
}

/* .header .header-center img {
    height: 60px;
} */

/* .header .header-center .img-center {
    height:60px;
    display: flex;
    justify-content: space-between;
} */

.header .header-left-active .img-center {
    display:none;
    height:60px
}

.header .header-center  i {
    font-size: 40px;
    color: orange;
}

.header .header-right {
    float: right;
    height: 60px;
}

.header .header-right li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.header .header-right img {
    height: 25px;
    width: 30px;
    cursor: pointer;
}

.header .header-right i {
    font-size: 30px;
    cursor: pointer;
}

.header .header-right input {
    display: none;

}

.sidebar-active {
    height: calc(100% - 60px);
    width: 260px;
    position: fixed;
    background-color: white;
    border-right: 1px solid #E8EBED;
    overflow-y: scroll;
}

.sidebar-active::-webkit-scrollbar {
    width: 7px;
    border-radius: 7px;
}

.sidebar-active::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 5px;
}

.sidebar-active .sidebar-menu ul {
    padding:20px;
    margin: 0;
}

.sidebar-active .sidebar-menu li {
    list-style: none;
    border-radius: 5px;
    padding:14px;
    margin-bottom: 5px;
    cursor: pointer;
}

.sidebar-active .sidebar-menu li span {
    margin-left: 10px;
}

.sidebar-active .sidebar-menu a {
    text-decoration: none;
    color: grey;
}

.sidebar-active .sidebar-menu li:hover {
    background: #1B2850;
}

.sidebar-active .sidebar-menu li:hover a {
    color: white;
}

.sidebar-active .sidebar-menu li:active {
    background: #1B2850;
    color: white;
}

.page-wrapper {
    margin: 0 0 0 260px;
    padding: 60px 0 0;
    position: relative;
    left: 0;
}

@media screen and (min-width: 320px) and (max-width: 575px) {
    .header-left-active img, button {
        display: none;
    }

    .sidebar-active {
        display: none;
    }

    .header .header-center button {
        display: inline-block;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .header-left-active img, button {
        display: none;
    }

    .sidebar-active {
        display: none;
    }

    .header .header-center button {
        display: inline-block;
    }
}

@media  (min-width: 768px) and (max-width: 991px) {
    .header .header-left-active, .header-left-active img, button {
        display: none;
    }

    .sidebar-active {
        display: none;
    }

    .header .header-center button {
        display: inline-block;
    }

    .header .header-left-active .img-center {
        display: inline-block;
    }

}

@media screen and (min-width: 992px) and (max-width: 1023px) {

}

@media screen and (min-width: 1024px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) and (max-width: 1399px) {

}

@media screen and (min-width: 1400px) {

}